@model ChainStoreSystem.ViewModel.DamagedProduct.DamagedProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Edit</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
    @using (Html.BeginForm("Edit", "DamagedProducts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <td>
                <label>
                    Name
                </label>
            </td>
            <td>
                <label>
                    Type
                </label>
            </td>
            <td>
                <label>
                    DateTime
                </label>
            </td>
        </tr>
        <tr>
            <td>
                @Html.EditorFor(model => model.Name, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.Type, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.Date_Time, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Time, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <td>
                <label>
                    Area Name
                </label>
            </td>
            <td>
                <label>
                    Product Name
                </label>
            </td>
           
        </tr>
        <tr>

            <td>
                @Html.DropDownListFor(item => item.AreaId, (IEnumerable<SelectListItem>)ViewBag.Area, "--Select Arae--", new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownListFor(item => item.ProductId, (IEnumerable<SelectListItem>)ViewBag.ProductItem, "--Select Product--", new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;<a href="@Url.Action("Index","DamagedProducts") " class="btn btn-success">Back</a>
            </td>
        </tr>
    }
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
