@model ChainStoreSystem.ViewModel.AccountViewModel.AccountDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Detail/Account</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
    <table class="table table-bordered table-hover table-responsive">
        <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <td>
                Name
            </td>
            <td>
                Email
            </td>
            <td>
                Mobile
            </td>
        </tr>
        <tr style="font-family:Arial">
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserMobile)
            </td>
        </tr>
        <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <td>
                Address-1
            </td>
            <td>
                Address-2
            </td>
            <td>
                CNIC
            </td>

        </tr>
        <tr style="font-family:Arial">
            <td>
                @Html.DisplayFor(model => model.Address1)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address2)
            </td>
            <td>
                @Html.DisplayFor(model => model.CNIC)
            </td>
        </tr>
        <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <td>
                Picture
            </td>
            <td>
                Date Time
            </td>
            <td>
                Password
            </td>

        </tr>
        <tr style="font-family:Arial">
            <td>
                <img src="~/StoreImage/@Model.ExistingImage" alt="" style="height:100px;width:100px" />
            </td>
            <td>
                @Html.DisplayFor(model => model.Date_Time)
            </td>
            <td>
                @Html.DisplayFor(model => model.PassWord)
            </td>
        </tr>
      <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
          <td>
              type
          </td>
      </tr>
        <tr  style="font-family:Arial">
            <td>
                @Html.DisplayFor(model=>model.Type)
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("Edit","Accounts",new{id=Model.Id})" class="btn btn-primary">Edit</a>&nbsp;<a href="@Url.Action("Index","Accounts")" class="btn btn-success"> Back To</a>
            </td>
        </tr>
    </table>

