@model ChainStoreSystem.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div style="margin-left:1%">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div style="margin-left:1%">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>&nbsp;
    <a asp-action="Index" class="btn btn-success">Back to</a>
</div>
