@model IEnumerable<ChainStoreSystem.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}
<br />
<p>
    <a asp-action="Create" class="btn btn-primary" style="margin-left:1%">Add Item</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr style="background-color:cornflowerblue">
            <th>
              Name
            </th>
            <th>
               Email
            </th>
            <th>
                Mobile No
            </th>
              
            <th>
              Address
            </th>                 
            <th>
               Picture
            </th>
        
            <th>
               Type
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                <img src="~/StoreImage/@item.User_Picture" alt="" style="height:100px;width:100px" />
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-edit text-primary"></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-eye text-success"></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash text-danger"></a>
            </td>
        </tr>
}
    </tbody>
</table>
