@model ChainStoreSystem.Models.Multimodelclass
@using ChainStoreSystem.Helpers
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json

@{
    ViewData["Title"] = "MenuCart";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    int row = 0;
    int TotalQauntity = 0;
    decimal Totalbill = 0;
}


<br />
<div class="container">
    <div class="row" id="PrintArea">
        <div class="col-8 col-sm-8 col-lg-8 col-md-8">
            <table class="table table-borderless table-responsive col-12">
                <thead class="table-primary">
                    <tr style="background-color:cadetblue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white; text-align: center">
                        <th>Sr#</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }

                    @{ List<Product> products = SessionHelper.GetObjectFromJson<List<Product>>(Context.Session, "Plistcart"); }

                    @if (products != null)
                    {
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                @{ i++;}
                                <td>
                                    <img src="~/StoreImage/@item.Product_Picture" alt="" style="height:100px;width:100px" />
                                </td>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.Product_Sale_Price
                                </td>
                                <td>
                                    <a href="@Url.Action("Plus","Cart",new  {RowNo=row })" class="btn btn-danger fas fa-plus"></a>

                                    @item.Product_Quantity
                                    <a href="@Url.Action("Minus","Cart",new { RowNo=row})" class="btn btn-danger fas fa-minus"></a>
                                </td>
                                <td>
                                    <h5>@(decimal.Parse(item.Product_Sale_Price.ToString())*int.Parse(item.Product_Quantity.ToString()))</h5>
                                </td>
                                <td>
                                    <a href="@Url.Action("Remove","Cart",new { RowNo=row} )" class="btn btn-danger fas fa-magic">

                                    </a>
                                </td>
                            </tr>
                            row++;
                            TotalQauntity += item.Product_Quantity;
                            Totalbill += (decimal.Parse(item.Product_Sale_Price.ToString()) * int.Parse(item.Product_Quantity.ToString()));
                        }
                    }

                    @if (products == null || row == 0)
                    {

                        <tr>
                            <td colspan="6" align="center"><b>your shoping cart is empty<a href="@Url.Action("Index","Customer")">Click here for buy now</a></b></td>
                        </tr>

                    }
                    <tr style="background-color:cadetblue; text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@TotalQauntity</td>
                        <td>@Totalbill</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <br />
            <div class="row">
                <a href="@Url.Action("Index","Customer")" class="btn btn-danger" style="margin-left:2%;">Continue Shopping</a>&nbsp;
                @if (products != null)
                {
                    <div>
                        <a href="@Url.Action("OrderCustomer","Cart")" class="btn btn-danger">Order Confirm</a>
                    </div>
                }
            </div>

        </div>
        <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">

            <form asp-action="PayNo" asp-controller="Cart" method="post">
                <label asp-for="O.Order_Name" class="label-control"></label>
                <input asp-for="O.Order_Name" class="form-control" required />
                <label asp-for="O.Order_City" class="label-control"></label>
                <input asp-for="O.Order_City" class="form-control" required />
                <label asp-for="O.Area" class="label-control"></label>
                <input asp-for="O.Area" class="form-control" required />

                <div>
                    <b>Ofline Pay</b>:<input type="radio" value="Ofline Pay" name="O.Order_Status" checked="checked" />
                    <b>Online Pay</b><input type="radio" value="Online Pay" name="O.Order_Status" />
                </div>
                @if (products != null)
                {
                    <input type="submit" name="name" value="Submit" class="btn-outline-primary hidden-print" id="btnPrint" />
                }

            </form>

        </div>
    </div>
</div>
