@model ChainStoreSystem.ViewModel.CompanyViewModel.CompanyDetailViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Delete/CompanyDetail</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<tr>
    <td>

        <h3 style="text-align:center; color:red">Are you sure you want to delete this?</h3>
    </td>
</tr>
<table class="table table-bordered table-hover table-responsive">

    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Address
        </td>
    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(model => model.CompanyEmail)
        </td>
        <td>
            <img src="~/StoreImage/@Model.ExistingImage" alt="" style="height:100px;width:100px" />
        </td>
    </tr>
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Addesss
        </td>
        <td>
            Message
        </td>
           </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
        <td>
            @Html.DisplayFor(model => model.Message)
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;<a href="@Url.Action("Index", "CompanyDetails")" class="btn btn-success">Back To</a>
                </div>
            }
        </td>
    </tr>
</table>
