@model ChainStoreSystem.Models.CompanyDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div style="margin-left:1%">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyLogo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div style="margin-left:1%">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>&nbsp;
    <a asp-action="Index" class="btn btn-success">Back to</a>
</div>

