@model IEnumerable<ChainStoreSystem.Models.Product>
@using System.Linq
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .btn-purple {
            color: #fff;
            background-color: #6f42c1;
            border-color: #643ab0;
        }

        .modal-body div {
            float: left;
            width: 100%
        }

            .modal-body div p {
                float: left;
                width: 20%;
                font-weight: 600;
            }

            .modal-body div span {
                float: left;
                width: 80%
            }
    </style>
</head>

<br />
<div class="row">
    <div class="col-sm col-md-12 col-lg-12 col-xl-12">
        <table class="text-center table table-responsive-xxl table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" id="Mytable">
            <thead>
                <tr style="background-color:darkcyan; color:white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    <th>
                        SrNo#
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Discription
                    </th>
                    <th>
                        Price
                    </th>
                    <th>Picture</th>
                    <th>
                        Discount
                    </th>
                    <th>
                        EXP DATE
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        @{ i++;}
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.ProductName
                        </td>
                        <td>
                            @item.Product_Discription_Max
                        </td>
                        <td>
                            @item.Product_Sale_Price
                        </td>
                        <td>
                            <img src="~/StoreImage/@item.Product_Picture" style="height:100px; width:100px" />
                        </td>
                        <td>
                            @item.Product_Discount
                        </td>
                        <td>
                            @DateTime.Parse(item.Product_Exp_Date.ToString()).ToLongDateString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Bootstrap model Start-->
<div>
    <div class="modal fade" id="mymodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Product Detail</h4>
                </div>

                <div class="modal-body">
                    <div id="Sr"><p>Sr#: </p><span></span></div>
                    <div class="name"><p>Name:</p><span></span></div>
                    <div class="description"><p>Description:</p><span></span></div>
                    <div class="price"><p>Price:</p><span></span></div>
                    <div>
                        <img id="picture" width="60" height="50" src="~/StoreImage/" /><p>Picture</p><span></span>
                    </div>
                    <div class="discount"><p>Discount:</p><span></span></div>
                    <div class="expdate"><p>ExpDate</p><span></span></div>
                </div>
                <form asp-action="AddTOCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="id" id="pid" />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Apply!</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
