@model IEnumerable<ChainStoreSystem.Models.OrderViewModel>
@{
    ViewData["Title"] = "ProfitAndLoss";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{  
    decimal? netProfit = 0;
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">ProfitAndLoss/Reports</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("ProfitAndLoss", "StoreReport", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>DateFrom :</td>
            <td>
                <input type="datetime-local" name="DateFrom" value="@ViewBag.DateFrom" class="form-control" />
            </td>
            <td>Date To :</td>
            <td>
                <input type="datetime-local" name="DateTo" value="@ViewBag.DateTo" class="form-control" />
            </td>
            <td>
                <input type="submit" value="Genrate Report" />
            </td>
        </tr>
        <tr>
            <td>SubCategory :</td>
            <td>
                @Html.DropDownList("SubCategory", (IEnumerable<SelectListItem>)ViewBag.SubCategory, "Select Subcategory", new { @class = "form-control" })
            </td>
            <td>Product :</td>
            <td>
                @Html.DropDownList("Product", (IEnumerable<SelectListItem>)ViewBag.Product, "Select Product", new { @class = "form-control" })
            </td>
            <td>
                Export To Excel
            </td>
        </tr>
    </table>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>Sr#</th>
            <th>Order No</th>
            <th>Customer Name</th>
            <th>Sale Price</th>
            <th>Purchase Price</th>
            <th>Profit & Loss</th>
            <th>Date Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{int k = 1; }
        @foreach (var malik in Model)
        {
            <tr>
                <td>@k</td>
                @{k++;}
                <td>@malik.Id</td>
                <td>@malik.Order_Name</td>
                <td>@malik.OrderDetails.Sum(n => n.Sale_Price * Math.Abs(Convert.ToInt32(n.Quantity)))</td>
                <td>@malik.OrderDetails.Sum(k => k.Purchase_Price * Math.Abs(Convert.ToInt32(k.Quantity)))</td>
                <td>
                    @(malik.OrderDetails.Sum(n => n.Sale_Price * Math.Abs(Convert.ToInt32(n.Quantity)))
                          - malik.OrderDetails.Sum(n => n.Purchase_Price * n.Quantity)
                     )
                </td>
                <td>
                    @malik.Order_DateTime
                </td>
                <td>
                    <a href="@Url.Action("SaleInvoice","StoreReport", new  {id=malik.Id })">view Invoice</a>
                </td>
            </tr>

            netProfit += (malik.OrderDetails.Sum(n => n.Sale_Price * Math.Abs(Convert.ToInt32(n.Quantity)))
            - malik.OrderDetails.Sum(n => n.Purchase_Price * n.Quantity));
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Net Profit</td>
            <td>@netProfit</td>
            <td></td>
        </tr>
    </tbody>
</table>




