@model IEnumerable<ChainStoreSystem.Models.Order>
@{
    ViewData["Title"] = "TotalSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Total Sale/Reports</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--for Total sale Report-->
<table class="table table-bordered">
   @using (Html.BeginForm("TotalSale", "StoreReport", FormMethod.Post))

   {
    <tr>
        <td>Date From:</td>
        <td><input type="datetime-local" value="@ViewBag.DateFrom" name="DateFrom" class="form-control" /></td>
        <td>Date To:</td>
        <td><input type="datetime-local" value="@ViewBag.DateTo" name="DateTo" class="form-control" /></td>
        <td><input type="submit" id="button1" value="Genrate Reports" /></td>
    </tr>
    <tr>
        <td>Category :</td>
        <td>
           @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.Category
          as SelectList,"--Select SubCategory--",htmlAttributes:new {@class="form-control" })
        </td>
        <td>Product :</td>
        <td>
            @Html.DropDownList("Product",(IEnumerable<SelectListItem>)ViewBag.Product
           as SelectList,"--Select Product--",htmlAttributes: new { @class="form-control"})
        </td> 
        <td>
            Export To Excel
        </td>
    </tr>
    }
</table>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order No</th>
            <th> Order Name</th>
            <th>Order City</th>
            <th>Order Type</th>
            <th>Order Status</th>
            <th>Deliver Status</th>
            <th>Date Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.Id</td>
                <td>@k.Order_Name</td>
                <td>@k.Order_City
                <td>@k.Order_Type</td>
                <td>@k.Order_Status</td>
                <td>@k.Order_Delivery_Status</td>
                <td>@k.Order_DateTime</td>
            </tr>
        }
    </tbody>
</table>


