@model IEnumerable<ChainStoreSystem.Models.Order>
@{
    ViewData["Title"] = "TotalSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Total Sale/Reports</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("TotalSale", "StoreReport", FormMethod.Post))
{
    <table class="table">
        <tr>

            <td>Date From:</td>
            <td><input name="DateFrom" type="datetime-local" value=@ViewBag.DateFrom class="form-control" /></td>

            <td>Date To:</td>

            <td><input name="DateTo" type="datetime-local" value=@ViewBag.DateTo class="form-control" /></td>
            <td>
                <input type="submit" value="Genrate Report"/>
            </td>
        </tr>

        <tr>
        </tr>
        <tr>
            <td>
                SubCategory :
            </td>
            <td>
                @Html.DropDownList("SubCategory", (IEnumerable<SelectListItem>)ViewBag.SubCategory, "Select SubCategory", new { @class = "form-control" })
            </td>
            <td>
                Product :
            </td>
            <td>
                @Html.DropDownList("Product", (IEnumerable<SelectListItem>)ViewBag.Product, "Select Product", new { @class = "form-control" })
            </td>
            <td>
                <button>Export TO Excel</button>
            </td>
        </tr>
    </table>
}
<table class="table">
    <thead>
        <tr>
            <th>Sr#</th>
            <th>Order No</th>
            <th>Name</th>
            <th>City</th>
            <th>Type</th>
            <th>Status</th>
            <th>Delivery Status</th>
            <th>DateTime</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int k = 1;}
        @foreach (var i in Model)
        {
        <tr>
            <td>@k</td>
            @{ k++; }
            <td>@i.Id</td>
            <td>@i.Order_Name</td>
            <td>@i.Order_City</td>
            <td>@i.Order_Type</td>
            <td>@i.Order_Status</td>
            <td>@i.Order_Delivery_Status</td>
            <td>@i.Order_DateTime</td>
            <td>
                <a href="@Url.Action("Saleinvoice","StoreReport",new  {id=i.Id })">Invoice</a>
            </td>
        </tr>
          

        }
    </tbody>
</table>

