@model ChainStoreSystem.ViewModel.ProductViewModel.ProductImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered table-hover table-responsive">
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Name
        </td>
        <td>
            Picture
        </td>
        <td>
            Desription Max
        </td>
    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.ProductName)
        </td>
        <td>
            <img src="~/StoreImage/@Model.ExistingImage" alt="" style="height:100px;width:100px" />
        </td>
        <td>
            @Html.DisplayFor(model => model.Product_Discription_Max)
        </td>
    </tr>
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Discription Min
        </td>
        <td>
            Sale Price
        </td>
        <td>
            Purchase Price
        </td>

    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.Product_Discription_Min)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product_Sale_Price)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product_Purchase_Price)
        </td>
    </tr>
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Status
        </td>
        <td>
            Discount
        </td>
        <td>
            Add Date
        </td>

    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.Product_Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product_Discount)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product_Add_Date)
        </td>
    </tr>
    <tr class="text-uppercase font-weight-bold" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <td>
            Exp Date
        </td>
        <td>
            Sub Category
        </td>
        <td>
           Area Name
        </td>

    </tr>
    <tr style="font-family:Arial">
        <td>
            @Html.DisplayFor(model => model.Product_Exp_Date)
        </td>
        <td>
            @Html.DisplayFor(model => model.Sub_categoryId)
        </td>
        <td>
            @Html.DisplayFor(model => model.AreaId)
        </td>
    </tr>   
    <tr>
        <td>
            <a href="@Url.Action("Edit","Products",new{id=Model.Id})" class="btn btn-primary">Edit</a>&nbsp;<a href="@Url.Action("Index","Products")" class="btn btn-success"> Back To</a>
        </td>
    </tr>
</table>

